.pretty-scrolls

	// pretty scrolls
	&::-webkit-scrollbar
		width: 0.5rem
		height: 0.5rem

	&::-webkit-scrollbar-track
		background: transparent

	&::-webkit-scrollbar-thumb
		background: #E9A997

	&::-webkit-scrollbar-thumb:hover
		background: $primary

	&::-webkit-scrollbar-thumb:active
		background: $primary

	&::-webkit-scrollbar-corner
		background: $gray-100

	&::-webkit-scrollbar-button

		background: $gray-100

	&::-webkit-scrollbar-button:vertical:start:increment, &::-webkit-scrollbar-button:vertical:end:decrement
		display: none

	::-webkit-scrollbar-button:horizontal:start:increment, &::-webkit-scrollbar-button:horizontal:end:decrement
		display: none

	&::-webkit-scrollbar-button:start:decrement

		height: 0

	&::-webkit-scrollbar-button:end:increment

		height: 0

	&::-webkit-scrollbar-button:horizontal:start:decrement

		width: 0

	&::-webkit-scrollbar-button:horizontal:end:increment

		width: 0

.scroll-wrapper
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	overflow-y: auto
	display: flex
	flex-direction: column

// Font sizes

.title
	font-size: 1.8rem
	font-weight: 600 !important

	@media (min-width: $sm)
		font-size: 2rem

	@media (min-width: $md)
		font-size: 2.1rem

	@media (min-width: $lg)
		font-size: 2.2rem

	strong
		font-weight: 700 !important

.subtitle
	font-size: 1rem
	line-height: 1.5
	font-weight: 400 !important

	@media (min-width: $sm)
		font-size: 1.3rem

.btn.btn-with-icon
	display: flex
	align-items: center
	gap: 0.5rem

.btn-burrito
	font-weight: 900
	border: 3px solid $brand1
	color: $brand1
	text-transform: uppercase
	box-shadow: 0 0.5em 0 $brand1
	margin-bottom: 0.5em
	top: 0
	transition: all 150ms ease-in-out !important

	&:active
		border: 3px solid $brand1
		color: $brand1
		box-shadow: 0 0 0 $brand1
		top: 0.5em

.dialog
	.close
		color: $complement
		width: 2rem
		aspect-ratio: 1
		display: flex
		justify-content: center
		align-items: center
		position: absolute
		right: -0.75rem
		top: -0.75rem
		border-radius: 0.25rem
		background: $brand1
		cursor: pointer
		z-index: 10