.pretty-scrolls

	// pretty scrolls
	&::-webkit-scrollbar

		width: 0.5rem
		height: 0.5rem

	&::-webkit-scrollbar-track

		background: $gray-100

	&::-webkit-scrollbar-thumb
		background: $gray-300

	&::-webkit-scrollbar-thumb:hover
		background: $primary

	&::-webkit-scrollbar-thumb:active
		background: $gray-500

	&::-webkit-scrollbar-corner
		background: $gray-100

	&::-webkit-scrollbar-button

		background: $gray-100

	&::-webkit-scrollbar-button:vertical:start:increment, &::-webkit-scrollbar-button:vertical:end:decrement
		display: none

	::-webkit-scrollbar-button:horizontal:start:increment, &::-webkit-scrollbar-button:horizontal:end:decrement
		display: none

	&::-webkit-scrollbar-button:start:decrement

		height: 0

	&::-webkit-scrollbar-button:end:increment

		height: 0

	&::-webkit-scrollbar-button:horizontal:start:decrement

		width: 0

	&::-webkit-scrollbar-button:horizontal:end:increment

		width: 0

// Font sizes

.title
	font-size: 1.8rem
	font-weight: 600 !important

	@media (min-width: $sm)
		font-size: 2rem

	@media (min-width: $md)
		font-size: 2.1rem

	@media (min-width: $lg)
		font-size: 2.2rem

	strong
		font-weight: 700 !important

.subtitle
	font-size: 1rem
	line-height: 1.5
	font-weight: 400 !important

	@media (min-width: $sm)
		font-size: 1.3rem

.btn-burrito
	font-weight: 900
	border: 3px solid $brand1
	color: $brand1
	text-transform: uppercase
	padding: 1rem
	box-shadow: 0 1em 0 $brand1
	top: 0
	transition: all 150ms ease-in-out !important

	&:active
		border: 3px solid $brand1
		color: $brand1
		box-shadow: 0 0.5em 0 $brand1
		top: 0.5em